<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="C:\WebApps\PdfService"/>
    <add key="WSGI_HANDLER" value="app.app"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <clear />
      
      <add name="StaticHtml" 
           path="*.html" 
           verb="*" 
           modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" 
           resourceType="File" 
           requireAccess="Read" />

      <add name="StaticJs" 
           path="*.js" 
           verb="*" 
           modules="StaticFileModule" 
           resourceType="File" 
           requireAccess="Read" />

      <add name="StaticFonts" 
           path="*.ttf" 
           verb="*" 
           modules="StaticFileModule" 
           resourceType="File" 
           requireAccess="Read" />

      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Users\rzunigas_dev\AppData\Local\Python\pythoncore-3.14-64\python.exe|C:\Users\rzunigas_dev\AppData\Local\Python\pythoncore-3.14-64\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>